.text {
    -fx-font-family: "Roboto";
    -fx-font-size: 20px;
}

.check-box>.box {
    -fx-background-color: #809baa;
    -fx-background-radius: 10, 10, 10, 10;
    -fx-border-color: #03142b;
    -fx-border-width: 3px;
    -fx-border-radius: 10 10 10 10;
}

.check-box>.box>.mark {
    -fx-scale-x: 2;
    -fx-scale-y: 2;
    -fx-translate-x: 5px;
    -fx-translate-y: -7px;
}

.check-box:selected>.box>.mark {
    -fx-background-color: #03142b;
}

.text-input {
    -fx-font-size: 20px;
    -fx-font-family: "Helvetica Neue";
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: #dbd8c6;
    -fx-text-fill: #03142b;
    -fx-prompt-text-fill: derive(#03142b, 110%);
}

.date-picker-popup {
    -fx-font-size: 13px;
    -fx-font-family: "Helvetica Neue";
    -fx-background-color: #e2b52b;
    -fx-border-width: 10px;

}

.date-picker>.arrow-button {
    -fx-background-color: #e2b52b;
    -fx-background-radius: 20 20 20 20;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}
